<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    
  </configSections>
  <userSettings>
    <Sync.Properties.Settings>
      <setting name="QQNum" serializeAs="String">
        <value>3575518082</value>
      </setting>
      <setting name="AppName" serializeAs="String">
        <value>cloudmusic</value>
      </setting>
      <setting name="Encoding" serializeAs="String">
        <value/>
      </setting>
      <setting name="QQPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="NetEaseUwpPath" serializeAs="String">
        <value/>
      </setting>
    </Sync.Properties.Settings>
  </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="EasyHook" publicKeyToken="4b580fca19d0b0c5" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-2.7.6270.0" newVersion="2.7.6270.0"/>
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2"/>
	</System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
