<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyHook" version="2.7.6578.1" targetFramework="net40" />
  <package id="linq2db" version="1.7.5" targetFramework="net40" />
  <package id="linq2db.SQLite" version="1.0.7.5" targetFramework="net40" />
  <package id="linq2db.t4models" version="1.0.7.5" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.104.0" targetFramework="net40" />
</packages>